{
    "openapi": "3.0.0",
    "info": {
      "title": "Документация Ozon Seller API",
      "version": 2.1,
      "x-logo": {
        "url": "https://cdn1.ozonusercontent.com/s3/redoc/ozon-seller-logo.svg",
        "backgroundColor": null,
        "altText": "Ozon logo"
      },
      "description": "По вопросам работы с Seller API, обращайтесь в поддержку через личный кабинет.\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for Dev](https://dev.ozon.ru/)\n"
    },
    "servers": [
      {
        "url": "//api-seller.ozon.ru"
      }
    ],
    "x-tagGroups": [
      {
        "name": "Общее описание",
        "tags": [
          "Introduction",
          "Getting started",
          "Auth",
          "Environment",
          "Process",
          "Disable",
          "News"
        ]
      },
      {
        "name": "Методы Seller API",
        "tags": [
          "CategoryAPI",
          "ProductAPI",
          "Prices&StocksAPI",
          "Promos",
          "PricingStrategyAPI",
          "BrandAPI",
          "CertificationAPI",
          "WarehouseAPI",
          "PolygonAPI",
          "FBO",
          "FBS&rFBSMarks",
          "FBS",
          "ReturnsAPI",
          "CancellationAPI",
          "ChatAPI",
          "SupplierAPI",
          "ReportAPI",
          "AnalyticsAPI",
          "FinanceAPI",
          "SellerRating",
          "InvoiceAPI"
        ]
      },
      {
        "name": "Приложения",
        "tags": ["Errors"]
      },
      {
        "name": "Пуш-уведомления",
        "tags": [
          "push_intro",
          "push_start",
          "push_resending",
          "push_types",
          "service_response"
        ]
      }
    ],
    "tags": [
      {
        "name": "Introduction",
        "x-displayName": "Введение",
        "description": "## Что такое Ozon Seller API\n\nOzon Seller API — программный интерфейс для работы с маркетплейсом Ozon. Он даёт возможность обмениваться информацией между системой продавца и Ozon.\n\nМетоды Seller API позволяют изменять данные магазина, например, остатки товаров или их стоимость, и получать данные, \nтакие как информация о возвратах или список складов.\n\nРабота с API состоит из отправки запроса и получения ответа. Для этого можно использовать вкладку **Консоль**, которая находится сверху описания методов, [Postman](https://www.postman.com) или настроить интеграцию с системами учёта, например 1С, ERP или МойСклад.\n\n## Когда пригодится Seller API\n\nПри интеграции системы учёта продавца с Seller API обновлять и получать данные можно в автоматическом режиме. Это \nпоможет поддерживать актуальной информацию о ценах и остатках товаров, обрабатывать больше заказов за меньшее время \nи исключить ошибки из-за обновления данных вручную.\n\nНапример, вам нужно обновить информацию об остатках или ценах 100 товаров. Чтобы сделать это через личный кабинет, \nнеобходимо вручную изменить данные на карточке каждого товара.\n\nМетод [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) позволяет одним запросом обновить информацию об \nостатках сразу 100 товаров, а метод [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices) — их стоимость.\n\n## Возможности Seller API\n\n- Загружать и обновлять товары.\n- Управлять ценами и остатками по товарам.\n- Получать информацию о возвратах товаров.\n- Управлять заказами FBO, FBS и rFBS.\n- Управлять чатами.\n- Работать с накладными.\n- Получать финансовую и аналитическую информацию.\n- Получать выгрузку атрибутов и характеристик Ozon.\n\n\n"
      },
      {
        "name": "Getting started",
        "x-displayName": "Начало работы",
        "description": "Перед началом работы с Ozon Seller API:\n\n1. Изучите процессы работы с Ozon в [Базе знаний продавца](https://seller-edu.ozon.ru) и [личном кабинете продавца](https://seller.ozon.ru/app/signin).\n2. Определите процессы, которые планируете автоматизировать, и сравните их с процессами вашей компании.\n3. Изучите документацию Seller API и разработайте схему интеграции.\n\nДля работы с Seller API необходим API-ключ. Подробнее в разделе [Авторизация](#tag/Auth).\n\nSeller API работает по UTC. Учитывайте это, когда отправляете запросы и получаете ответы с датами и временем.\n\nПроцесс работы с Seller API можно разделить на блоки:\n- работа с атрибутным деревом,\n- загрузка и обновление товаров,\n- управление ценами,\n- управление остатками товара,\n- управление заказами FBO,\n- управление заказами FBS и rFBS,\n- работа с накладными,\n- получение финансовой информации,\n- получение аналитической информации,\n- управление возвратами,\n- управление чатами.\n"
      },
      {
        "name": "Auth",
        "x-displayName": "Авторизация",
        "description": "<br><aside class=\"warning\">API-ключи хранятся в личном кабинете в скрытом виде. Вы увидите API-ключ только при создании. Сохраните его в надёжном месте или сразу укажите в своих системах. \n\nВы не сможете восстановить доступ к несохранённым API-ключам. Чтобы продолжить работу с API, создайте новый ключ.\n</aside>\n\n## Как получить доступ к Seller API\n\n1. Зарегистрируйтесь в [Ozon Seller](https://seller.ozon.ru/app/signup). Подробнее о регистрации \n   в [Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-start/step-1-register.html).\n2. Получите API-ключ.\n\n## Как получить API-ключ\n\n<aside class=\"warning\">\n<b>Не передавайте API-ключ посторонним людям</b>  \n\nЗапросы к API изменяют данные в вашем магазине на Ozon. Если доступ к ключу будет у посторонних, они смогут управлять \nвашим магазином.\n</aside>\n\nЧтобы получить API-ключ:\n1. В личном кабинете перейдите в [**Настройки → API ключи**](https://seller.ozon.ru/app/settings/api-keys).\n2. Нажмите **Сгененрировать ключ**.\n3. Придумайте название для ключа и выберите его уровень доступа.\n4. Нажмите **Сенерировать**.\n\nВы можете создать несколько API-ключей. Например, если у вас несколько пользователей с разными уровнями доступа.\n\n### Отредактировать ключ\n\nЕсли вы хотите изменить разрешённые сети для ключа, в [списке API-ключей](https://seller.ozon.ru/app/settings/api-keys) выберите нужный и нажмите <img src=\"https://cdn.ozone.ru/s3/ozon-disk-api/techdoc/seller-api/edit-key_1682516858.png\" width=\"20\">.\nВнесите изменения и нажмите **Обновить**.\n\n## API-ключ попал в посторонние руки\n\n1. В личном кабинете перейдите в [**Настройки → API ключи**](https://seller.ozon.ru/app/settings/api-keys).\n2. Удалите текущий API-ключ и создайте новый."
      },
      {
        "name": "Environment",
        "x-displayName": "Рабочая среда",
        "description": "## Что такое рабочая среда\n\nРабочая среда — это ваш магазин. Все отправленные запросы, кроме информационных, могут изменять данные в личном \nкабинете и на сайте Ozon.\n\n**Рабочая среда**: api-seller.ozon.ru\n\nСозданные товары можно посмотреть по ссылке вида: https://www.ozon.ru/context/detail/id/SKU, где вместо «SKU» нужно \nуказать значение для созданного товара.\n\n## Формат запроса\n\n```http\nGET / HTTP/1.1\nHost: api-seller.ozon.ru\nClient-Id: <Client-Id>\nApi-Key: <Api-Key>\nContent-Type: application/json\n```\n\nДля проверки корректности формата запроса используйте вкладку **Консоль** над описанием метода или \n[Postman](https://www.postman.com). "
      },
      {
        "name": "Process",
        "x-displayName": "Порядок работы с методами",
        "description": "<br><aside class=\"warning\">Если от вашего имени поступает много одинаковых или ошибочных запросов, мы можем ограничить\nдоступ к Seller API без предупреждения.</aside>\n\n# Выгрузите атрибуты и характеристики Ozon\n\n<br><aside class=\"warning\">Чтобы методы для работы с товарами работали корректно, сопоставьте ваши категории и\nхарактеристики со значениями в системе Ozon.\n\nЕсли в методе [/v2/product/import](#operation/ProductAPI_ImportProductsV2) вы передадите значения не из справочника\nOzon, товар не будет создан или обновлён.</aside>\n\n1. [/v2/category/tree](#operation/CategoryAPI_GetCategoryTree) — получите список категорий в виде дерева и используйте\n   значение последнего уровня выбранной категории.\n\n2. [/v3/category/attribute](#operation/CategoryAPI_GetCategoryAttributesV3) — получите характеристики для выбранной\n   категории.\n\n3. [/v2/category/attribute/values](#operation/CategoryAPI_DictionaryValueBatch) — получите список значений для выбранной\n   характеристики.\n\n# Загрузите и обновите товары\n\nПосле сравнения своих атрибутов и характеристик с атрибутной моделью Ozon можете приступить к загрузке товаров:\n\n1. [/v2/product/import](#operation/ProductAPI_ImportProductsV2) — загрузите товары и услуги. Этот метод также позволяет\n   обновить уже загруженные товары. В запросе устанавливается первичная цена и загружаются изображения товара. Для услуг\n   необходимо указать геоограничения. Список геоограничений можно получить\n   методом [/v2/products/get-geo-restrictions-catalog-by-filter](#operation/ProductAPI_GetGeoRestrictionsV1).\n\n   В одном запросе можно передать до 100 товаров. Изображения загружаются прямой ссылкой на облачное хранилище, где они\n   хранятся.\n\n   В результате работы метода вы получите `task_id` — номер задания на загрузку товаров.\n\n2. [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) — проверьте `task_id`, который вы получили при\n   загрузке товаров. Метод вернёт информацию, успешно ли загрузились товары или при импорте была ошибка.\n\n   Если ответ содержит статус, что товар на модерации, подождите её результатов и проверьте статус товара повторно.\n   Обычно модерация занимает меньше одного дня.\n\n3. [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode) — загрузите коды активации, если вы\n   продаёте цифровые товары или услуги. Код активации привязывается к карточке цифрового товара. После продажи цифрового\n   товара вы сможете посмотреть привязку кода к отправлению в ответе\n   метода [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting). В результате работы метода вы получите `task_id` —\n   номер задания на загрузку кода активации.\n\n4. [/v1/product/upload_digital_codes/info](#operation/ProductAPI_UploadDigitalCodeInfo) — проверьте `task_id`, который\n   вы получили при загрузке кодов активации. Метод вернёт информацию, успешно ли загрузились коды или возникла ошибка.\n\n5. [/v2/product/list](#operation/ProductAPI_GetProductList) — получите список созданных товаров после загрузки товаров.\n\n   Метод позволяет использовать фильтры, чтобы разбить товары на группы по статусу видимости или отслеживать изменение\n   их статуса с помощью идентификатора товара.\n\n   Метод возвращает пару значений `offer_id` и `product_id` — они нужны практически во всех запросах для идентификации\n   товара, с которым будет производиться действие. Если вы загружали товары через шаблон, используйте этот метод для\n   получения `offer_id` и `product_id`, чтобы в дальнейшем работать по API с товарами.\n\nДля обновления товара и его характеристик используйте [/v2/product/import](#operation/ProductAPI_ImportProductsV2).\n\nИнформация о товаре:\n\n- [/v2/product/info](#operation/ProductAPI_GetProductInfoV2) — получите информацию о товаре, например штрихкод, цену\n  главного предложения, идентификатор категории, комиссию или ошибки модерации.\n\n- [/v2/product/info/list](#operation/ProductAPI_GetProductInfoListV2) — с помощью\n  фильтров [/v2/product/list](#operation/ProductAPI_GetProductList)\n  получите список пакетно по всем товарам сразу или по категориям.\n\n- [/v3/products/info/attributes](#operation/ProductAPI_GetProductAttributesV3) — получите описание характеристик товара.\n  Метод позволяет добавить дополнительную информацию к товару, чтобы карточка товара была более полной.\n\n- [/v1/product/info/description](#operation/ProductAPI_GetProductInfoDescription) — получите описание товара, чтобы\n  использовать его для создания схожего товара.\n\n- [/v1/product/info/discounted](#operation/ProductAPI_GetProductInfoDiscounted) — получите информацию об уценке и\n  основном товаре по SKU уценённого товара.\n\nУдаление и архивация товаров:\n\n1. [/v2/products/delete](#operation/ProductAPI_DeleteProducts) — удалите товар, если он загрузился с ошибкой и попал в\n   архив без SKU. Товары, которые успешно прошли модерацию и получили SKU, удалить из архива нельзя.\n\n2. [/v1/product/archive](#operation/ProductAPI_ProductArchive) — перенесите товар в архив. Перед архивированием товара\n   обнулите его остатки.\n\n3. [/v1/product/unarchive](#operation/ProductAPI_ProductUnarchive) — верните товар из архива.\n\nТовар попадёт в продажу, только когда вы установите его остаток.\n\nУправление услугами:\n\n- Получить список геоограничений для услуг можно через\n  метод [/v2/products/get-geo-restrictions-catalog-by-filter](#operation/ProductAPI_GetGeoRestrictionsV1). Это позволит\n  указать локацию оказываемых услуг.\n- Загрузить коды активации для услуг и цифровых товаров можно через\n  метод [/v1/product/upload_digital_codes](#operation/ProductAPI_UploadDigitalCode).\n\n## Загрузите и обновите изображения товара\n\nЕсли нужно добавить картинки товара или заменить существующие, используйте:\n\n1. [/v1/product/pictures/import](#operation/ProductAPI_ProductImportPictures) — загрузите или обновите изображения\n   товара. Изображения загружаются прямой ссылкой на облачное хранилище, где оно хранится.\n2. [/v1/product/pictures/info](#operation/ProductAPI_ProductInfoPictures) — проверьте статус добавления изображений\n   товара. Метод вернёт информацию, успешно ли загрузились картинки или при загрузке произошла ошибка.\n\n# Загрузите сертификаты качества\n\n## Информация о сертификатах\n\n- Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n- Получите список сертифицируемых категорий: [/v1/product/certification/list](#operation/ProductAPI_ProductCertificationList).\n- Получите список статусов сертификата: [/v1/product/certificate/status/list](#operation/CertificateStatusList).\n- Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n- Получите список причин отклонения сертификата: [v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList).\n- Получите список сертификатов: [v1/product/certificate/list](#operation/CertificateList), используя фильтры:\n   - тип сертификата `type` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n   - статус сертификата `status` — значение `code` из ответа [v1/product/certificate/status/list](#operation/CertificateStatusList).\n\n## Работа с товарами сертификата\n\nЧтобы привязать сертификат к товару:\n1. Получите список брендов, для которых требуется предоставить сертификат: [/v1/brand/company-certification/list](#operation/ProductAPI_ProductCertificateBind).\n   В ответе вернутся бренды, товары которых есть в вашем личном кабинете.\n   Список брендов может изменяться, если Ozon получит требование от бренда предоставлять сертификат.\n2. Добавьте сертификаты для товаров: [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate).\n3. Привяжите сертификат к товару: [/v1/product/certificate/bind](#operation/ProductAPI_ProductCertificateBind).\n\nЧтобы посмотреть список товаров, привязанных к сертификату, воспользуйтесь методом [v1/product/certificate/products/list](#operation/CertificateProductsList).\nЕсли нужно получить список товаров с определённым статусом, в параметре `status` передайте значение `code` из ответа [v1/product/certificate/product_status/list](#operation/ProductStatusList).\n\nЧтобы отвязать товар от сертификата, используйте [/v1/product/certificate/products/unbind](#operation/CertificateUnbind).\n\n## Управление состоянием сертификата\n\nЧтобы получить атрибуты для управления сертификатом:\n1. Получите список типов сертификатов: [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes).\n2. Получите список типов соответствия требованиям: [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nДля создания сертификата используйте [/v1/product/certificate/create](#operation/ProductAPI_ProductCertificateCreate), передав в запросе:\n- тип сертификата `type_code` — значение `value` из ответа [/v1/product/certificate/types](#operation/ProductAPI_ProductCertificateTypes);\n- тип соответствия требованиям `accordance_type_code` — значение `code` из ответа [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes).\n\nЧтобы удалить сертификат, используйте [/v1/product/certificate/delete](#operation/CertificateDelete).\n\n# Обновите цены и остатки товаров\n\nПосле загрузки товаров для схем FBS и rFBS можно перейти к обновлению остатков. Для схемы FBO остатки обновляются\nавтоматически по факту продажи.\n\nДля обновления остатков используйте методы:\n- [/v1/product/import/stocks](#operation/ProductAPI_ImportProductsStocks) — если у вас заведён один склад.\n- [/v2/products/stocks](#operation/ProductAPI_ProductsStocksV2) — если складов несколько. В этом методе дополнительно указывается идентификатор склада, на котором необходимо изменить остатки.\n\nДля получения информации о количестве остатков для FBO\nиспользуйте [/v3/product/info/stocks](#operation/ProductAPI_GetProductInfoStocksV3).\n\nДля получения информации о количестве остатков для FBS и rFBS\nиспользуйте [v1/product/info/stocks-by-warehouse/fbs](#operation/ProductAPI_ProductStocksByWarehouseFbs).\n\nЧтобы обновить цены по товарам и не менять карточку товара,\nиспользуйте [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices).\n\nМетод позволяет обновить цену:\n\n- до скидок,\n- для клиентов с подпиской Ozon Premium,\n- на карточке товара с учётом скидок,\n- минимальную цену товара после применения акций.\n\n<aside class=\"warning\">\nЦена товара может упасть ниже минимальной, если вы примените разные типы акций к одному товару.\n</aside>\n\nДля получения информации о ценах, комиссиях и скидках на товары\nиспользуйте [/v4/product/info/prices](#operation/ProductAPI_GetProductInfoPricesV4).\n\n# Участвуйте в акциях\n\nДля продвижения товаров участвуйте в акциях, которые Ozon проводит для покупателей.\n\n- Получите список доступных акций: [/v1/actions](#operation/Promos).\n\n- Получите список товаров, которые могут участвовать в акции: [/v1/actions/candidates](#operation/PromosCandidates).\n\n- Добавьте товары в акцию: [/v1/actions/products/activate](#operation/PromosProductsActivate).\n\n- Получите список товаров, которые участвуют в акции: [/v1/actions/products](#operation/PromosProducts).\n\n- Удалите товары из акции: [/v1/actions/products/deactivate](#operation/PromosProductsDeactivate).\n\nПокупатели могут попросить у вас скидку на товар.\nЧтобы получить список товаров, которые покупатели хотят купить со скидкой, воспользуйтесь методом\n[/v1/actions/discounts-task/list](#operation/promos_task_list).\nЗаявки в статусах `NEW` (новые) или `SEEN` (просмотренные) вы можете:\n- одобрить — используйте метод [/v1/actions/discounts-task/approve](#operation/promos_task_approve),\n- отклонить — используйте метод [/v1/actions/discounts-task/decline](#operation/promos_task_decline).\n\n## Акции Hot Sale\n\n- Получите список доступных акций Hot Sale: [/v1/actions/hotsales/list](#operation/ActionsAPI_GetHotSalesList).\n\n- Получите список товаров, которые могут участвовать или уже участвуют в акции Hot\n  Sale: [/v1/actions/hotsales/products](#operation/ActionsAPI_GetHotSalesProducts).\n\n- Добавьте товары в акцию Hot Sale: [/v1/actions/hotsales/activate](#operation/ActionsAPI_ActivateHotSalesProducts).\n\n- Удалите товары из акции Hot Sale: [/v1/actions/hotsales/deactivate](#operation/ActionsAPI_DeactivateHotSalesProducts).\n\n[Подробнее об акциях в Базе знаний продавца](https://seller-edu.ozon.ru/docs/how-to-sell-effectively/promo/promo.html)\n\n# Настройте стратегии ценообразования\n\nСтратегии ценообразования — инструмент для автоматического изменения стоимости товаров в соответствии с ценами на аналогичные товары в других интернет-магазинах и маркетплейсах.\n\n[Подробнее о стратегиях в Базе знаний для продавцов из России](https://seller-edu.ozon.ru/work-with-goods/rabota-s-tsenami/rival-strategies)\n\n[Подробнее о стратегиях в Справке для продавцов Ozon Global](https://docs.ozon.ru/global/prices/pricing-strategies/)\n\nЧтобы настроить стратегии ценообразования:\n\n1. Получите список конкурентов: [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors).\n\n2. Получите список стратегий ценообразования: [/v1/pricing-strategy/list](#operation/pricing_list).\n\n3. Создайте свою стратегию: [/v1/pricing-strategy/create](#operation/pricing_create) и установите коэффициенты, чтобы изменять стоимость товара по сравнению с другими площадками в большую и меньшую сторону.\n   Чтобы получить информацию о стратегии, используйте метод [/v1/pricing-strategy/info](#operation/pricing_info).\n\n4. Добавьте товары в стратегию: [/v1/pricing-strategy/products/add](#operation/pricing_items-add).\n      \n   Вы можете добавить товары:\n   - На которые установлена минимальная цена с помощью метода [/v1/product/import/prices](#operation/ProductAPI_ImportProductsPrices). \n     Чтобы проверить цену, используйте метод [/v4/product/info/prices](#operation/ProductAPI_GetProductInfoPricesV4).\n   - Которые не привязаны к другой стратегии.\n     Чтобы проверить привязку товара к стратегии, используйте метод [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids).\n\n   Чтобы получить список товаров, которые привязаны к стратегии, используйте метод [/v1/pricing-strategy/products/list](#operation/pricing_items-list), а для удаления товаров из стратегии — [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete).\n\n7. Включите или отключите стратегию: [/v1/pricing-strategy/status](#operation/pricing_status).\n\nЧтобы изменить список выбранных конкурентов и название стратегии, используйте метод [/v1/pricing-strategy/update](#operation/pricing_update).\n\nДля удаления стратегии используйте метод [/v1/pricing-strategy/delete](#operation/pricing_delete).\n\n# Получите информацию о складах\n\n- [/v1/delivery-method/list](#operation/WarehouseAPI_DeliveryMethodList) — получите список методов склада.\n\n- [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList) — получите список складов.\n\n# Управляйте заказами FBO, FBS и rFBS\n\nОбработайте заказы в зависимости от схемы работы:\n\n- [cхема FBO](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBO);\n- [стандартная схема FBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-Standart);\n- [схема FBS PickUp с подключённой доверительной приёмкой](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBS-PickUp-s-doveritelnoj-priyomkoj);\n- [стандартная схема rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Standart);\n- [схема rFBS с доставкой через интегрированную службу](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-s-integrirovannoj-sluzhboj-dostavki);\n- [схема rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\n\nЕсли вы продаёте товары из-за рубежа, обрабатывайте заказы по одной из схем:\n\n- [rFBS Crossborder](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder);\n- [rFBS Crossborder с интегрированной службой доставки](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Crossborder-s-integrirovannoj-sluzhboj-dostavki);\n- [rFBS Агрегатор](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-rFBS-Agregator).\n\n[Подробнее о заказах с весовыми товарами при работе по схеме rFBS](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Kak-rabotat-s-zakazami-s-vesovymi-tovarami-(rFBS))\n\n## Схема FBO\n\nДля получения списка отправлений, финансовой и аналитической информации\nиспользуйте [/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList). Также метод возвращает информацию о\nпроданных кодах активации с привязкой к номеру отправления.\n\nЧтобы получить информацию по отправлению, используйте [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting).\n\n### Получите информацию о заявках на поставку\n\nДля поставки на фулфилмент Ozon нужна заявка. В ней указано, какие товары и в каком количестве вы привезёте.\n\n1. [/v1/supply-order/list](#operation/SupplyOrderAPI_GetSupplyOrdersList) — получите список заявок на поставку.\n2. [/v1/supply-order/get](#operation/SupplyOrderAPI_GetSupplyOrder) — получите информацию по заявке.\n3. [/v1/supply-order/items](#operation/SupplyOrderAPI_GetSupplyOrderItems) — получите список товаров в заявке.\n\n## Схема FBS Стандарт\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\n6. Создайте акт приёма-передачи и транспортную\n   накладную: [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate). В результате работы метода вы\n   получите идентификатор задания на формирование документов.\n\n7. Получите список перевозок, для которых нужно распечатать акт приёма-передачи и транспортную\n   накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList).\n\n8. Проверьте, что документы созданы: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\n\n9. В зависимости от вида акта:\n    - Для бумажного.<br>\n      Когда статус документа перейдёт в `ready`, получите файлы акта и\n      накладной: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n    - Для электронного.<br>\n      Проверьте статус формирования электронного\n      документа: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\n      Когда статус документа перейдёт в `FORMED`, получите файл накладной и\n      акта: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct)\n      и [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\n\n10. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\nПосле этого можете отвезти отправления и документы в пункт приёма.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Затем передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема FBS PickUp с доверительной приёмкой\n\n1. Перед началом работы с отправлениями получите список необработанных\n   отправлений: [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) и\n      [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. Перед сборкой убедитесь, что отправление соответствует установленным в пункте приёма ограничениям. Получите\n   ограничения пункта приёма по номеру\n   отправления: [/v1/posting/fbs/restrictions](#operation/PostingAPI_GetRestrictions).\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\n6. Создайте акт приёма-передачи и транспортную\n   накладную: [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate). В результате работы метода вы\n   получите идентификатор задания на формирование документов.\n\n7. Получите список перевозок, для которых нужно распечатать акт приёма-передачи и транспортную\n   накладную: [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList).\n\n8. Проверьте, что документы созданы: [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus).\n\n9. В зависимости от вида акта:\n    - Для бумажного.<br>\n      Когда статус документа перейдёт в `ready`, получите файлы акта и\n      накладной: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct).\n    - Для электронного.<br>\n      Проверьте статус формирования электронного\n      документа: [/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus).\n      Когда статус документа перейдёт в `FORMED`, получите файл накладной и\n      акта: [/v2/posting/fbs/act/get-pdf](#operation/PostingAPI_PostingFBSGetAct)\n      и [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct).\n\n10. Для каждого отправления распечатайте наклейку для идентификации в системе\n    Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n11. После того как вы упаковали все отправления по требованиям из\n    раздела [Доверительная приёмка грузового места](https://seller-edu.ozon.ru/docs/fbs/ozon-logistika/doveritel-naya-priemka-gruzovogo-mesta.html#какие-требования-к-грузовому-месту)\n    в Базе знаний продавца, получите этикетки на каждое грузовое\n    место: [/v2/posting/fbs/act/get-container-labels](#operation/PostingAPI_PostingFBSActGetContainerLabels).\n\nПосле этого можете передать грузовое место в пункт приёма или курьеру Ozon.\n\nЕсли отправление передано в доставку, но не просканировано в сортировочном центре, вы можете открыть\nспор: [/v2/posting/fbs/arbitration](#operation/PostingAPI_MoveFbsPostingToArbitration). Открытый спор переведёт\nотправление в статус `arbitration`.\n\nЕсли спор по отправлению откроет покупатель, статус отправления изменится на `client_arbitration`.\n\nЧтобы отследить изменение статуса, когда отправление найдено,\nиспользуйте [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) с нужными фильтрами.\n\nДля передачи спорных заказов к отгрузке\nиспользуйте [/v2/posting/fbs/awaiting-delivery](#operation/PostingAPI_MoveFbsPostingToAwaitingDelivery). Статус\nотправления изменится на `awaiting_deliver`.\n\n## Схема rFBS Стандарт\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\nКогда сборка заказа завершена, свяжитесь с покупателем для согласования даты доставки.\nЕсли покупателю не подходит дата, вы можете перенести её: [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot).\nПосмотрите доступные даты для переноса доставки и количество доступных переносов: [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions).\n\nПередайте отправление курьеру:\n\n1. Когда курьер забрал отправление, измените статус отправления на\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n   <aside class=\"notice\">\n   Если вы не составляете маршрутный лист и курьер сразу направляется к покупателю, можете сразу перевести отправление из\n   статуса «Доставляется» в «Последняя миля»: <a href=\"#operation/PostingAPI_FbsPostingLastMile\">/v2/fbs/posting/last-mile</a>.\n   </aside>\n\n   Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n2. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n3. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Затем передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Затем передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Агрегатор\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана. Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n   - какие товары подлежат обязательной маркировке;\n   - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n     также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n     и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. Если товар в отправлении упакован в несколько коробок, передайте их количество: [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3). Если не сделать этого до сборки, вам придётся объединить все коробки в одну.\n\n5. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_registration`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\n6. Когда перевозчик обработает отправление, его статус изменится с `awaiting_registration` на `awaiting_delivery`. После\n   этого отправлению будет присвоен трек-номер.\n\n   Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n   Передайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\nЕсли вы продаёте из Турции и вам нужны декларации Elektronik Ticaret Gümrük Beyannamesi (ETGB) для возврата налоговой пошлины, \nполучите декларации: [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb).\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Затем передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Схема rFBS Crossborder\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\n5. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\n   статус отправления на `sent_by_seller` — «Отправлено\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\n6. После передачи отправления в службу доставки измените статус отправления на `delivering` —\n   «Доставляется»: [/v2/fbs/posting/delivering](#operation/PostingAPI_FbsPostingDelivering).\n\n7. Одновременно с этим, если у отправления есть трек-номер, передайте\n   его: [/v2/fbs/posting/tracking-number/set](#operation/PostingAPI_FbsPostingTrackingNumberSet).\n\n8. Когда курьер едет к покупателю, поменяйте статус отправления на «Последняя\n   миля»: [/v2/fbs/posting/last-mile](#operation/PostingAPI_FbsPostingLastMile).\n\n9. Когда курьер передал отправление покупателю, поменяйте статус на\n   «Доставлено»: [/v2/fbs/posting/delivered](#operation/PostingAPI_FbsPostingDelivered).\n\n## Схема rFBS Crossborder с интегрированной службой доставки\n\n1. Перед началом работы с отправлениями получите список необработанных заказов (отправлений):\n   [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Если покупатель юридическое лицо, то в блоке `requirements` будет информация о необходимости передать\n   страну-производителя для всех товаров в заказе, у которых она не указана.    \n   Получите список доступных для выбора\n   стран: [/v2/posting/fbs/product/country/list](#operation/PostingAPI_ListCountryProductFbsPostingV2). Затем передайте\n   информацию о\n   стране-производителе: [/v2/posting/fbs/product/country/set](#operation/PostingAPI_SetCountryProductFbsPostingV2).\n\n   Также можно получать список заказов (отправлений): [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3).\n   Он позволяет получить все заказы, используя фильтры с различными статусами. Можно также получить данные аналитики,\n   если поле `with` отправить со значением `analytics_data`.\n\n   Изначально все отправления по API приходят в статусе `awaiting_packaging`.\n\n2. Получите дополнительную информацию к заказам: [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3).\n\n   В блоке `requirements` указывается:\n    - какие товары подлежат обязательной маркировке;\n    - нужно ли передать номер грузовой таможенной декларации и регистрационный номер партии товара — эту информацию\n      также можно получить с помощью методов [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)\n      и [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList).\n\n   Дополнительную информацию вы также можете получить по\n   штрихкоду: [/v2/posting/fbs/get-by-barcode](#operation/PostingAPI_GetFbsPostingByBarcode).\n\n3. Проверьте, что коды маркировки соответствуют требованиям системы «Честный ЗНАК» по составу и количеству\n   символов: [/v4/fbs/posting/product/exemplar/validate](#operation/PostingAPI_FbsPostingProductExemplarValidate).\n\n   Передайте маркировку в систему «Честный\n   ЗНАК»: [/v4/fbs/posting/product/exemplar/set](#operation/PostingAPI_SetProductExemplar). При необходимости передайте\n   номера таможенных деклараций и регистрационные номера партии товара или укажите, что их нет.\n\n   Получите статусы передачи\n   маркировок: [/v4/fbs/posting/product/exemplar/status](#operation/PostingAPI_GetProductExemplarStatus).\n\n4. До окончания времени на сборку подтвердите, что вы собрали\n   заказ: [/v4/posting/fbs/ship](#operation/PostingAPI_ShipFbsPostingV4). Вы не сможете собрать заказ, если не указали\n   коды маркировки для товаров, подлежащих обязательной маркировке.\n\n   При необходимости используйте этот метод, чтобы разделить заказ на несколько отправлений. Например, если в заказе\n   несколько товаров и их необходимо упаковать в разные коробки, так как вместе они не отвечают требованиям к упаковке.\n\n   После использования метода статус отправления изменится на `awaiting_deliver`.\n\n   Вы можете использовать метод для частичной\n   сборки: [/v3/posting/fbs/ship/package](#operation/PostingAPI_PackageShipFbsPostingV3).\n\n5. Для каждого отправления распечатайте этикетку для идентификации в системе\n   Ozon: [/v2/posting/fbs/package-label](#operation/PostingAPI_PostingFBSPackageLabel).\n\n6. Если в настройках метода доставки вы задали временной промежуток для передачи отправления в службу доставки, измените\n   статус отправления на `sent_by_seller` — «Отправлено\n   продавцом»: [/v2/fbs/posting/sent-by-seller](#operation/PostingAPI_FbsPostingSentbyseller).\n\nПередайте отправление в службу доставки. Все статусы от «Доставляется» до «Доставлено» будет передавать служба доставки.\n\n### Отменить доставку отправления\n\n1. Используйте [/v2/posting/fbs/cancel-reason/list](#operation/PostingAPI_GetPostingFbsCancelReasonList) на любом этапе\n   работы с отправлением, чтобы получить список причин отмены отправления.\n\n2. Затем передайте этот список и номер отправления: [/v2/posting/fbs/cancel](#operation/PostingAPI_CancelFbsPosting).\n\nЧтобы отменить часть товаров в отправлении,\nиспользуйте [/v2/posting/fbs/product/cancel](#operation/PostingAPI_CancelFbsPostingProduct).\n\nЕсли отправление отменит покупатель, статус изменится на `cancelled`.\n\n## Как работать с заказами с весовыми товарами (rFBS)\n\nПеред тем, как перевести заказ с весовыми товарами в статус «Ожидает отгрузки» — `awaiting_delivery`, передайте\nуточнённые данные о весе весовых товаров. Для этого после взвешивания во время сборки передайте информацию о весе\nкаждого экземпляра каждого весового SKU через\nметод [/v2/posting/fbs/product/change](#operation/PostingAPI_CancelFbsPosting).\n\nТовар необходимо взвешивать, если при создании товара вы указали, что товар весовой, и добавили к нему атрибуты 20577,\n8933 и 8934.\n\nПосле передачи корректного веса для всех экземпляров всех весовых товаров вы сможете перевести отправление в статус\n«Ожидает отгрузки» — `awaiting_delivery`.\n\nAPI вернёт ошибку 400, если вы:\n\n- взвесили не все экземпляры из отправления,\n- передали значение веса для невесового товара,\n- вес экземпляра не попал в диапазон заданный атрибутами 8933 и 8934.\n\n# Работа с архивом актов\n\n- [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) — получите список сформированных ранее актов.\n- [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) — получите список отправлений по каждому\n  акту.\n- [/v2/posting/fbs/digital/act/document-sign](#operation/PostingAPI_DigitalActDocumentSign) — подпишите электронные акты\n  о расхождении и излишках, если вы подключены к электронному документообороту (ЭДО).<br>\n  Перед подписанием проверьте статусы актов: [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList). В ответе\n  метода поля `act_of_mismatch.document_status` и `act_of_excess.document_status` должны иметь значения `NEED_TO_SIGN`.\n\n# Получите информацию о возвратах товаров\n\n- [/v2/returns/company/fbo](#operation/ReturnsAPI_GetReturnsCompanyFboV2) — получите информацию о возвращённых товарах,\n  которые продаются по схеме FBO.\n\n- [/v2/returns/company/fbs](#operation/ReturnsAPI_GetReturnsCompanyFBS) — получите информацию о возвращённых товарах,\n  которые продаются по схеме FBS.\n\n# Управляйте заявками на отмену\n\nПолучите заявки и информацию о них:\n\n- [/v1/conditional-cancellation/get](#operation/CancellationAPI_GetConditionalCancellation) — получите информацию по\n  заявке на отмену rFBS.\n- [/v1/conditional-cancellation/list](#operation/CancellationAPI_GetConditionalCancellationList) — получите список\n  заявок на отмену rFBS.\n\nПримите решение по новой заявке на отмену — подтвердите или отклоните её:\n\n- [/v1/conditional-cancellation/approve](#operation/CancellationAPI_ConditionalCancellationApprove) — подтвердите заявку\n  на отмену rFBS. Заказ будет автоматически отменён, а деньги вернутся покупателю.\n- [/v1/conditional-cancellation/reject](#operation/CancellationAPI_ConditionalCancellationReject) — отклоните заявку на\n  отмену rFBS. Заказ останется в том же статусе, и его нужно будет доставить покупателю.\n\n# Управляйте чатами\n\nДля получения списка чатов используйте [/v1/chat/list](#operation/ChatAPI_ChatList)\nили [/v2/chat/list](#operation/ChatAPI_ChatListV2). В ответе будут идентификаторы текущих чатов и последних сообщений.\n\nДля отправки сообщений по идентификатору чата используйте методы:\n\n- [/v1/chat/send/message](#operation/ChatAPI_ChatSendMessage) — для отправки текстового сообщения.\n\n- [/v1/chat/send/file](#operation/ChatAPI_ChatSendFile) — для отправки файла или изображения.\n\nДля получения истории чата по идентификатору чата или сообщения используйте методы:\n\n- [/v1/chat/history](#operation/ChatAPI_ChatHistory) — чтобы получить историю по порядку от старых сообщений к новым.\n\n- [/v1/chat/updates](#operation/ChatAPI_ChatUpdates) — чтобы получить историю по порядку от новых сообщений к старым.\n\n- [/v2/chat/history](#operation/ChatAPI_ChatHistoryV2) — чтобы получить историю сообщений. Направление сортировки по\n  умолчанию — от новых сообщений к старым.\n\nЕсли указать идентификатор сообщения, то история начнётся с этого сообщения.\n\nЧтобы создать новый чат с покупателем по номеру отправления,\nвоспользуйтесь [/v1/chat/start](#operation/ChatAPI_ChatStart).\n\nЧтобы отметить сообщение и все сообщения до него прочитанными,\nиспользуйте [/v2/chat/read](#operation/ChatAPI_ChatReadV2).\n\n# Создайте и получите отчёты\n\nПри запросе любого из отчётов сначала возвращается код на создание документа. Отправьте его в запросе метода\n[/v1/report/info](#operation/ReportAPI_ReportInfo) — в ответе вернётся файл отчёта и дополнительная информация.\n\nЧтобы получить список сформированных ранее отчётов, используйте [/v1/report/list](#operation/ReportAPI_ReportList).\n\nМетоды для получения отчётов:\n\n- [/v1/report/products/create](#operation/ReportAPI_CreateCompanyProductsReport) — отчёт с данными о товарах, например\n  Ozon&nbsp;ID, описанием товара, цены, комиссии или габаритов упаковки.\n\n- [/v1/report/transactions/create](#operation/ReportAPI_CreateCompanyTransactionsReport) — отчёт по транзакциям,\n  доступный в личном кабинете продавца.\n\n- [/v1/report/products/prices/create](#operation/ReportAPI_CreateCompanyProductsPricesReport) — отчёт по ценам.\n\n- [/v1/report/stock/create](#operation/ReportAPI_CreateCompanyStockReport) — отчёт по остаткам.\n\n- [/v1/report/products/movement/create](#operation/ReportAPI_CreateProductsMovementReport) — отчёт о перемещении\n  товаров.\n\n- [/v1/report/returns/create](#operation/ReportAPI_CreateCompanyReturnsReport) — отчёт о возвращённых товарах для FBS и\n  rFBS. Отчёт содержит товары, принятые от покупателя, готовые к получению или переданные продавцу.\n\n- [/v1/report/postings/create](#operation/ReportAPI_CreateCompanyPostingsReport) — отчёт об отправлениях.\n\n- [/v1/report/finance/create](#operation/ReportAPI_CreateCompanyFinanceReport) — финансовый отчёт.\n\n# Получите аналитические отчёты\n\n- [/v1/analytics/data](#operation/AnalyticsAPI_AnalyticsGetData) — получите данные аналитики.\n\n  Если укажете период и метрики, которые нужно рассчитать, в ответе будет аналитиĸа, сгруппированная по параметру\n  `dimensions`.\n\n- [/v1/analytics/stock_on_warehouses](#operation/AnalyticsAPI_AnalyticsGetStockOnWarehouses) — получите отчёт по\n  остаткам и товарам в перемещении на складах Ozon.\n\n- [/v1/analytics/item_turnover](#operation/AnalyticsAPI_AnalyticsItemTurnoverDataV3) — получите отчёт по оборачиваемости\n  FBO по категориям за последние 15 дней.\n\n# Получите финансовые отчёты\n\n- [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) — получите подробную информацию по\n  транзакциям для отправления.\n\n- [/v3/finance/transaction/totals](#operation/FinanceAPI_FinanceTransactionTotalV3) — получите детальную информацию по\n  итоговым суммам транзакций за указанный период.\n\n# Получите информацию о рейтинге\n\n- [/v1/rating/summary](#operation/RatingAPI_RatingSummaryV1) — получите текущие значения рейтингов продавца.\n\n- [/v1/rating/history](#operation/RatingAPI_RatingHistoryV1) — получите информацию о рейтингах продавца за период и\n  количество штрафных баллов, начисленных в Premium-программе."
      },
      {
        "name": "Disable",
        "x-displayName": "Отключение методов",
        "description": "1 апреля 2023 года мы отключим часть методов. Перейдите на работу с актуальными версиями. Если метода на замену ещё нет,\nследите за обновлениями в [документации](#tag/News) и [Telegram-канале](https://t.me/OzonSellerAPI).\n\nМетоды, которые мы отключим: \n- [/v2/returns/company/fbo](#operation/ReturnsAPI_GetReturnsCompanyFboV2) — переключитесь на [/v3/returns/company/fbo](#operation/ReturnsAPI_GetReturnsCompanyFbo);\n- [/v3/product/info/limit](#operation/ProductAPI_GetProductInfoLimit) — переключитесь на [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota);\n- [/v1/analytics/stock_on_warehouses](#operation/AnalyticsAPI_AnalyticsGetStockOnWarehouses) — переключитесь на [/v2/analytics/stock_on_warehouses](#operation/AnalyticsAPI_AnalyticsGetStockOnWarehousesV2);\n- [/v1/analytics/item_turnover](#operation/AnalyticsAPI_AnalyticsItemTurnoverDataV3)."
      },
      {
        "name": "News",
        "x-displayName": "Обновления",
        "description": "<br> \n<aside class=\"warning\">\nСледите за обновлениями документации в <a href=\"https://t.me/OzonSellerAPI\">Telegram-канале</a>.\n</aside>\n\n## 27 апреля 2023\n\n| Метод | Что изменилось                                                                     |\n|-------|------------------------------------------------------------------------------------|\n| —     | Обновили инструкцию [**Как получить API-ключ**](#section/Kak-poluchit-API-klyuch). |\n\n## 20 апреля 2023\n\n| Метод                                                                                                                                              | Что изменилось                                                                                       |\n|----------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------|\n| [/v1/finance/cash-flow-statement/list](#operation/FinanceAPI_FinanceCashFlowStatementList)                                                                  | Добавили необязательный параметр `with_details` в запрос метода и параметр `details` в ответ метода. |\n| [/v1/pricing-strategy/competitors/list](#operation/pricing_competitors)    | Добавили метод для получения списка конкурентов.                                                                                                                     | \n| [/v1/pricing-strategy/list](#operation/pricing_list)                       | Добавили метод для получения списка стратегий ценообразования.                                                                                                       | \n| [/v1/pricing-strategy/create](#operation/pricing_create)                   | Добавили метод для создания стратегии ценообразования.                                                                                                               | \n| [/v1/pricing-strategy/info](#operation/pricing_info)                       | Добавили метод для получения информации о стратегии ценообразования.                                                                                                 | \n| [/v1/pricing-strategy/update](#operation/pricing_update)                   | Добавили метод для изменения списка выбранных конкурентов и названия стратегии ценообразования.                                                                      | \n| [/v1/pricing-strategy/products/add](#operation/pricing_items-add)          | Добавили метод для добавления товаров в стратегию ценообразования.                                                                                                   | \n| [/v1/pricing-strategy/strategy-ids-by-product-ids](#operation/pricing_ids) | Добавили метод для проверки привязки товара к стратегии ценообразования.                                                                                             | \n| [/v1/pricing-strategy/products/list](#operation/pricing_items-list)        | Добавили метод для получения списка товаров, которые привязаны к стратегии ценообразования.                                                                          | \n| [/v1/pricing-strategy/products/delete](#operation/pricing_items-delete)    | Добавили метод для удаления товаров из стратегии ценообразования.                                                                                                    | \n| [/v1/pricing-strategy/product/info](#operation/pricing_items-info)         | Добавили метод для получения цены товара у конкурента.                                                                                                               |\n| [/v1/pricing-strategy/status](#operation/pricing_status)                   | Добавили метод для включения и отключения стратегии ценообразования.                                                                                                 | \n| [/v1/pricing-strategy/delete](#operation/pricing_delete)                   | Добавили метод для удаления стратегии ценообразования.                                                                                                               | \n| —                                                                          | В разделе [**Порядок работы с методами**](#tag/Process) добавили подраздел [**Настройте стратегии ценообразования**](#section/Nastrojte-strategii-cenoobrazovaniya). |\n\n## 11 апреля 2023\n\n| Метод                                                                                                                                              | Что изменилось                                                                                                                                |\n|----------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/product/info/subscription](#operation/ProductAPI_GetProductInfoSubscription)                                                                  | Добавили метод для получения количества пользователей, подписанных на товары. |\n| [/v2/product/info](#operation/ProductAPI_GetProductInfoV2)                                                                                         | Добавили параметр `result.price_indexes` в ответ метода.<br><br>Пометили параметр `result.price_index` в ответе как неактуальный.             |\n| [/v2/product/info/list](#operation/ProductAPI_GetProductInfoListV2)<br><br>[/v4/product/info/prices](#operation/ProductAPI_GetProductInfoPricesV4) | Добавили параметр `result.items.price_indexes` в ответ метода.<br><br>Пометили параметр `result.items.price_index` в ответе как неактуальный. |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                       | Добавили параметр `result.substatus` в ответ метода.                                                                                        |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)                                                                                  | Добавили параметр `result.postings.substatus` в ответ метода.<br><br>Дополнили описание параметра `result.postings.status` в ответе метода. |\n\n## 10 апреля 2023\n\n| Метод                                                                   | Что изменилось                                                                                                                                                                     |\n|-------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/supply-order/list](#operation/SupplyOrderAPI_GetSupplyOrdersList)  | Добавили метод для получения списка заявок на поставку на склад Ozon.                                                                                                              |\n| [/v1/supply-order/get](#operation/SupplyOrderAPI_GetSupplyOrder)        | Добавили метод для получения информации о заявке на поставку.                                                                                                                      |\n| [/v1/supply-order/items](#operation/SupplyOrderAPI_GetSupplyOrderItems) | Добавили метод для получения списка товаров в заявке на поставку.                                                                                                                  |\n| —                                                                       | Добавили подраздел [**Схема FBO → Получите информацию о заявках на поставку**](#section/Upravlyajte-zakazami-FBO-FBS-i-rFBS/Shema-FBO) в раздел [**Порядок работы с методами**](#tag/Process). |\n\n## 22 марта 2023\n\n| Метод                                                                   | Что изменилось                                                         |\n|-------------------------------------------------------------------------|------------------------------------------------------------------------|\n| [/v3/returns/company/fbs](#operation/ReturnsAPI_GetReturnsCompanyFBSv3) | Добавили новую версию метода для получения информации о возвратах FBS. |\n\n## 21 марта 2023\n\n| Метод                                                                          | Что изменилось                                                                                                           |\n|--------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------|\n| —                                                                              | В раздел [**Пуш-уведомления → Как подключить**](#tag/push_start) добавили IP-адреса, с которых отправляются уведомления. |\n| [/v2/returns/company/fbs](#operation/ReturnsAPI_GetReturnsCompanyFBS)          | Добавили описание статусов `moving`, `disposed` и `disposing` для параметра `filter.status` в запросе метода.            |\n| [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) | Дополнили описание параметра `filter.operation_type` в запросе метода.                                                   |\n\n## 14 марта 2023\n\n| Метод | Что изменилось                                                                                                        |\n|-------|-----------------------------------------------------------------------------------------------------------------------|\n| [/v3/finance/transaction/list](#operation/FinanceAPI_FinanceTransactionListV3) | Обновили описание метода: теперь максимальный период, за который можно получить информацию в одном запросе — 1 месяц. |\n\n## 3 марта 2023\n\n| Метод                                                                                         | Что изменилось                                                                      |\n|-----------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|\n| [/v1/posting/fbs/timeslot/set](#operation/PostingAPI_SetPostingTimeslot) | Добавили метод для переноса даты доставки отправления.                              |\n| [/v1/posting/fbs/timeslot/change-restrictions](#operation/PostingAPI_PostingTimeslotChangeRestrictions) | Добавили метод для получения доступных дат для переноса доставки и количества доступных переносов.|\n\n\n## 22 февраля 2023\n\n| Метод                                                                                        | Что изменилось                                                           |\n|----------------------------------------------------------------------------------------------|--------------------------------------------------------------------------|\n| [/v2/analytics/stock_on_warehouses](#operation/AnalyticsAPI_AnalyticsGetStockOnWarehousesV2) | Добавили новую версию метода для получения отчёта по товарам и остаткам. |\n\n\n## 17 февраля 2023\n\n| Метод                                                                      | Что изменилось                                           |\n|----------------------------------------------------------------------------|----------------------------------------------------------|\n| [/v1/posting/global/etgb](#operation/PostingAPI_GetEtgb) | Добавили метод для получения таможенных деклараций ETGB. |\n\n## 16 февраля 2023\n\n| Метод                                                                                      | Что изменилось                                          |\n|--------------------------------------------------------------------------------------------|---------------------------------------------------------|\n| —     | В разделе [**Пуш-уведомления → Как подключить**](#tag/push_start) обновили инструкцию: теперь подключать пуш-уведомления нужно в личном кабинете.<br><br>В раздел [**Уведомления, которые отправляет Ozon**](#tag/push_types) добавили описания новых типов уведомлений:<br>• [TYPE_NEW_MESSAGE](#section/Novoe-soobshenie-v-chate)<br>• [TYPE_UPDATE_MESSAGE](#section/Soobshenie-v-chate-izmeneno)<br>• [TYPE_MESSAGE_READ](#section/Vashe-soobshenie-prochitano)<br>• [TYPE_CHAT_CLOSED](#section/Chat-zakryt) |\n| [/v1/posting/fbs/package-label/create](#operation/PostingAPI_CreateLabelBatch)<br><br>[/v1/posting/fbs/package-label/get](#operation/PostingAPI_GetLabelBatch) | Добавили методы для асинхронного формирования этикеток. |\n\n## 14 февраля 2023\n\n| Метод                                                                                                                                                                            | Что изменилось                                         |\n|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------------------------------|\n| [/v2/returns/company/fbo](#operation/ReturnsAPI_GetReturnsCompanyFboV2)<br>[/v3/product/info/limit](#operation/ProductAPI_GetProductInfoLimit)<br>[/v1/analytics/stock_on_warehouses](#operation/AnalyticsAPI_AnalyticsGetStockOnWarehouses)<br>[/v1/analytics/item_turnover](#operation/AnalyticsAPI_AnalyticsItemTurnoverDataV3) | 1 апреля 2023 отключим эти методы. Добавили предупреждение в описание методов и в раздел [**Отключение методов**](#tag/Disable). |\n| /v1/auto/bookings/get<br>/v1/auto/bookings/list<br>/v1/auto/cbos/list<br>/v1/auto/modifications/list<br>/v1/auto/offers/create<br>/v1/auto/offers/list<br>/v1/auto/offers/update | Удалили раздел **Автомобили** из документации. |\n\n## 13 февраля 2023\n\n| Метод                                                          | Что изменилось                                                                      |\n|----------------------------------------------------------------|-------------------------------------------------------------------------------------|\n| [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota) | Добавили метод для получения лимитов на ассортимент, создание и обновление товаров. |\n\n## 10 февраля 2023\n\n| Метод                                                                      | Что изменилось                                                               |\n|----------------------------------------------------------------------------|------------------------------------------------------------------------------|\n| [/v1/product/update/discount](#operation/ProductAPI_ProductUpdateDiscount) | \tДобавили метод для установки скидки на уценённые товары, продающиеся по схеме FBS. |\n| [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList)               | Обновили описание параметра `filter.status` в запросе.                       |\n| [/v3/category/attribute](#operation/CategoryAPI_GetCategoryAttributesV3)                                                 | Добавили поле `result.attributes.category_dependent` в ответ метода.         |\n\n## 9 февраля 2023\n\n| Метод   | Что изменилось                                                                                                                                                 |\n|---------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| —       | Дополнили таблицу [«Частые ошибки»](#tag/Errors). Добавили описания ошибок для метода [/v2/posting/fbs/act/create](#operation/PostingAPI_PostingFBSActCreate). |\n| [/v2/product/info](#operation/ProductAPI_GetProductInfoV2)<br>[/v1/product/info/list](#operation/ProductAPI_GetProductInfoListV2) | В ответы методов добавили поле `updated_at`: дата последнего обновления товара.  |\n\n## 2 февраля 2023\n\n| Метод                                                                                                                                                                                                               | Что изменилось                                                                                                        |\n|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------|\n| [/v2/product/import](#operation/ProductAPI_ImportProductsV2)<br>[/v1/product/import-by-sku](#operation/ProductAPI_ImportProductsBySKU) | В запросах методов обновили описание параметра `offer_id`: максимальная длина передаваемого значения — 50 символов.   |\n| [/v1/product/update/offer-id](#operation/ProductAPI_ProductUpdateOfferID) | В запросе метода обновили описание параметра `new_offer_id`: максимальная длина передаваемого значения — 50 символов. |\n\n## 26 января 2023\n\n| Метод | Что изменилось |\n|--------|--------------|\n| [/v1/product/certificate/delete](#operation/CertificateDelete) | Добавили метод для удаления сертификата. |\n| [/v1/product/certificate/info](#operation/CertificateInfo) | Добавили метод для получения информация о сертификате. |\n| [/v1/product/certificate/list](#operation/CertificateList) | Добавили метод для получения списка сертификатов. |\n| [/v1/product/certificate/product_status/list](#operation/ProductStatusList) | Добавили метод для получения списка возможных статусов товаров. |\n| [/v1/product/certificate/products/list](#operation/CertificateProductsList) | Добавили метод для получения списка товаров, привязанных к сертификату. |\n| [/v1/product/certificate/unbind](#operation/CertificateUnbind) | Добавили метод для отвязки товара от сертификата. |\n| [/v1/product/certificate/rejection_reasons/list](#operation/RejectionReasonsList) | Добавили метод для получения возможных причин отклонения сертификата. |\n| [/v1/product/certificate/status/list](#operation/CertificateStatusList) | Добавили метод для получения возможных статусов сертификатов. |\n| [/v2/product/certificate/accordance-types/list](#operation/CertificateAccordanceTypes) | Добавили новую версию метода для получения списка типов соответствия требованиям. |\n| — | Дополнили подраздел [Загрузите сертификаты брендов](#section/Zagruzite-sertifikaty-brendov) в разделе [Порядок работы с методами](#tag/Process). |\n\n## 20 января 2023\n\n| Метод | Что изменилось                                                                |\n|-------|-------------------------------------------------------------------------------|\n| [/v2/category/tree](#operation/CategoryAPI_GetCategoryTree)  | В запросе метода обновили значение параметра `language` для китайского языка. |\n\n## 19 января 2023\n\n| Метод                                                                                                                                                       | Что изменилось                                                                                                                                           |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v3/posting/multiboxqty/set](#operation/PostingAPI_PostingMultiBoxQtySetV3)                                                                                | Добавили метод для передачи количества коробок в многокоробочных отправлениях.                                                                           |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                                | В ответ метода добавили поля для получения информации о многокоробочных отправлениях: `result.is_multibox` и `result.multi_box_qty`.                     |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)<br>[/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList) | В ответы методов добавили поля для получения информации о многокоробочных отправлениях: `result.postings.is_multibox` и `result.postings.multi_box_qty`. |\n| [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList)                                                                                    | В ответ метода добавили поле `result.multi_box_qty` для получения количества коробок в многокоробочных отправлениях.                                     |\n\n## 10 января 2023\n\n| Метод                                                                                                                | Что изменилось                                                |\n|----------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------|\n| —                                                                                                                    | Обновили срок подключения [пуш-уведомлений](#tag/push_start). |\n| /v1/supplier/orders/{orderId}/waybill_acceptance_results<br><br>/v1/supplier/waybill_acceptance_results/{waybillId}  | Убрали методы из документации.                                |\n| [/v3/category/attribute](#operation/CategoryAPI_GetCategoryAttributesV3)  | В ответ метода добавили поле `result.attributes.is_aspect`. |\n| [/v2/product/info](#operation/ProductAPI_GetProductInfoV2)<br>[/v2/product/info/list](#operation/ProductAPI_GetProductInfoListV2)  | В ответы методов добавили поле `barcodes` для получения всех штрихкодов товара. |\n\n<!--\n## 30 декабря 2022\n\n| Метод | Что изменилось |\n|--------|--------------|\n| [/v2/product/import](#operation/ProductAPI_ImportProductsV2) | Вернули возможность загружать Rich-контент. |\n| [/v1/actions/discounts-task/list](#operation/promos_task_list) | Добавили метод для получения списка товаров, которые покупатели хотят купить со скидкой. |\n| [/v1/actions/discounts-task/approve](#operation/promos_task_approve) | Добавили метод для одобрения заявок на скидку. |\n| [/v1/actions/discounts-task/decline](#operation/promos_task_decline) | Добавили метод для отклонения заявок на скидку. |\n\n## 26 декабря 2022\n\n| Метод | Что изменилось |\n|-------|----------------|\n| [/v1/invoice/create-or-update](#operation/invoice_create) | Добавили метод для создания или изменения ссылки на счёт-проформу для возврата НДС продавцам из Турции. |\n| [/v1/invoice/get](#operation/invoice_get) | Добавили метод для получения ссылки на счёт-проформу. |\n| [/v1/invoice/delete](#operation/invoice_delete) | Добавили метод для удаления ссылки на счёт-проформу. |\n\n## 15 декабря 2022\n\n| Метод                                                               | Что изменилось                                                           |\n|---------------------------------------------------------------------|--------------------------------------------------------------------------|\n| [/v3/product/info/limit](#operation/ProductAPI_GetProductInfoLimit) | Добавили метод для получения общего лимита и лимита на загрузку товаров. |\n\n## 7 декабря 2022\n\n| Метод                                                        | Что изменилось                                                                                                                                                                           |\n|--------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/product/import](#operation/ProductAPI_ImportProductsV2) | Мы временно отключили возможность загружать Rich-контент. О возобновлении работы с ним сообщим отдельно — следите за обновлениями.<br><br>Ранее добавленный Rich-контент останется на витрине. |\n\n## 5 декабря 2022\n\n| Метод                                                                                                                                              | Что изменилось                                                                                                                    |\n|----------------------------------------------------------------------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList)<br>[/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus) | В ответы методов добавили поля для работы с частичной перевозкой: `is_partial`, `has_postings_for_next_carriage` и `partial_num`. |\n\n## 24 ноября 2022\n\n| Метод                                                                                 | Что изменилось                                                                                                                                    |\n|---------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------|\n| [/v1/posting/carriage-available/list](#operation/PostingAPI_GetCarriageAvailableList) | В ответ метода добавили поля `mandatory_postings_count`, `mandatory_packaged_count`, `cutoff_at` и `warehouse_timezone`.                          |\n| [/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3)                     | Обновили описание полей `result.postings.cancellation.cancellation_initiator` и `result.postings.cancellation.cancellation_type` в ответе метода. |\n| [/v3/posting/fbs/get](#operation/PostingAPI_GetFbsPostingV3)                                                                                       | Обновили описание полей `result.cancellation.cancellation_initiator` и `result.cancellation.cancellation_type` в ответе методов.                  |\n\n## 9 ноября 2022\n\n| Метод                                                                              | Что изменилось                                                                                |\n|------------------------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|\n| [/v1/rating/summary](#operation/RatingAPI_RatingSummaryV1)                         | Добавили метод для получения информации о текущих рейтингах продавца.                         |\n| [/v1/rating/history](#operation/RatingAPI_RatingHistoryV1)                         | Добавили метод для получения информации о рейтингах продавца за период.                       |\n| [/v2/posting/fbs/act/check-status](#operation/PostingAPI_PostingFBSActCheckStatus) | В ответе метода добавили новое значение поля `result.status` — `cancelled`.                   |\n| [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) | В ответе метода дополнили описания полей `document_status` значениями для каждого вида актов. |\n\n\n## 3 ноября 2022\n\n| Метод                                                                                                                                                       | Что изменилось                                                                               |\n|-------------------------------------------------------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------|\n| [/v2/product/import](#operation/ProductAPI_ImportProductsV2)                                                                                                | Обновили инструкцию по загрузке видео для товаров.                                           |\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)<br>[/v3/posting/fbs/list](#operation/PostingAPI_GetFbsPostingListV3) | Обновили описание методов: теперь можно получить список отправлений за период не больше года. |\n| [/v1/posting/fbs/cancel-reason](#operation/PostingAPI_GetPostingFbsCancelReasonV1)  | Добавили метод для получения причин отмены конкретных отправлений.                      |\n\n## 2 ноября 2022\n\n| Метод | Что изменилось                                                                                          |\n|-------|---------------------------------------------------------------------------------------------------------|\n| [/v3/posting/fbs/unfulfilled/list](#operation/PostingAPI_GetFbsPostingUnfulfilledList)  | Обновили описание метода: изменился список статусов отправлений, по которым можно получить информацию.  |\n| [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct)<br>[/v2/posting/fbs/digital/act/check-status](#operation/PostingAPI_PostingFBSDigitalActCheckStatus) | Тестирование методов завершено, их можно использовать.                |\n\n## 21 октября 2022\n\n| Метод                                                                                                                         | Что изменилось                                                                      |\n|-------------------------------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|\n| [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting)<br>[/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) | В ответы методов добавили поле `products.currency_code` с информацией о валюте цен. |\n\n## 18 октября 2022\n\n| Метод                | Что изменилось                                                                                                                |\n|----------------------|-------------------------------------------------------------------------------------------------------------------------------|\n| [/v2/posting/fbs/act/get-postings](#operation/PostingAPI_ActPostingList) | Добавили метод для получения списка отправлений в акте.                                                                       |\n| [/v2/posting/fbs/act/list](#operation/PostingAPI_FbsActList) | Добавили метод для получения списка актов.                                                                            |\n| [/v2/posting/fbs/digital/act/document-sign](#operation/PostingAPI_DigitalActDocumentSign) | Добавили метод для подписания электронных актов о расхождениях и излишках.                                                    |\n| [/v2/posting/fbs/digital/act/get-pdf](#operation/PostingAPI_PostingFBSGetDigitalAct)| Дополнили в описании, что метод возвращает один из видов документов по отгрузке. Добавили параметр `doc_type` в запрос метода. |\n\n## 12 октября 2022\n\n| Метод                                                                                                                         | Что изменилось                                                                                                   |\n|-------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------|\n| [/v2/posting/fbo/get](#operation/PostingAPI_GetFboPosting)<br>[/v2/posting/fbo/list](#operation/PostingAPI_GetFboPostingList) | Обновили описания поля `financial_data.products.picking` в ответах методов. Теперь оно всегда возвращает `null`. |\n| [/v1/warehouse/list](#operation/WarehouseAPI_WarehouseList)                                                                   | В ответ метода добавили поле `status` для обозначения статуса склада.                                            |\n\n## 11 октября 2022\n\n| Метод                | Что изменилось                                                                              |\n|----------------------|---------------------------------------------------------------------------------------------|\n| [/v1/report/discounted/create](#operation/ReportAPI_CreateDiscountedReport)<br>[/v1/report/discounted/info](#operation/ReportAPI_DiscountedReportInfo)<br>[/v1/report/discounted/list](#operation/Rep
[...]
